.footer {
  background: darken($primary, 5%);
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: $font-m-size;
  padding: $l-size;
  justify-content: center;

  @media (max-width: $mobile-breakpoint) {
    font-size: $font-s-size;
  }
}

.footer__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $s-size;
    height: fit-content;
  }

  p {
    margin: 2px;
  }

  @media (min-width: 961px) {
    div:nth-child(1) {
      align-items: flex-end;
      border-right: 2px solid $secondary;
      padding-right: $l-size;
    }
    div:nth-child(2) {
      padding-left: $l-size;
    }
  }

  @media (max-width: 960px) {
    padding: $s-size;
    flex-direction: column;

    div:nth-child(1) {
      align-items: center;
      border-bottom: 2px solid $secondary;
      padding-bottom: $s-size;
    }
    div:nth-child(2) {
      align-items: center;
      padding-top: $s-size;
    }
  }
}
