.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: $secondary;
  padding: 15px 0;

  a {
    color: $font-secondary-color;
  }

  i {
    margin-left: 30px;
  }
}

.header-content {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  padding: 0 $m-size;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
  font-weight: 600;
  font-size: $font-xl-size;
  color: white;
  transition: all 0.2s ease;

  &:hover {
    transform: translateX(15px);
    text-shadow: 2px 2px 0px $primary;
  }
}
