.button {
  background: $secondary;
  color: $font-secondary-color;
  padding: $s-size;
  margin: 0 $s-size $s-size 0;
  border: none;
  border-radius: 5px;
  font-size: $font-s-size;

  &:hover {
    color: $font-primary-color;
    text-shadow: 1px 1px 0 darken($font-secondary-color, 10%);
  }
}

.button--nav {
  @extend .button;
  min-width: fit-content;
  width: fit-content;
  background: none;
  padding: 0;
  margin: 0;
}

.button--delete {
  display: inline-block;
  background: $alert;
  color: $font-secondary-color;
  &:hover {
    background: lighten($alert, 5%);
  }
}

.button--wide {
  min-width: 200px;
  width: fit-content;

  @media (max-width: 960px) {
    width: 100%;
  }
}
