.button {
  background: $secondary;
  color: $font-secondary-color;
  cursor: pointer;
  padding: $s-size;
  margin: 0 $s-size 0 0;
  width: fit-content;
  border: none;
  border-radius: 5px;
  font-size: $font-s-size;
  text-align: center;

  &:hover {
    color: white;
    text-shadow: 1px 1px 0 darken($font-secondary-color, 10%);
  }
}

.button--big {
  background: $primary;
  padding: $s-size $m-size;
  margin: 0 $xl-size $xl-size 0;
  color: $font-sand;
  font-weight: 800;
  box-shadow: 0px 2px 0 darken($secondary, 10%);
  transition: box-shadow 0.3s ease-in-out;
  
  &:hover {
    background: darken($primary, 5%);
    box-shadow: 0px 5px 0 $font-primary-color;
  }

  @media (max-width: 700px) {
    margin: 0 0 $m-size 0;
    width: fit-content;
    min-width: 230px;
  }
}

.button--fixed {
  height: 50px;
  min-width: 120px;
}

.button--nav {
  @extend .button;
  min-width: fit-content;
  width: fit-content;
  background: none;
  padding: 0;
  margin: 0;
}

.button--delete {
  display: inline-block;
  background: $alert;
  color: $font-secondary-color;
  &:hover {
    background: lighten($alert, 5%);
  }
}

.button--wide {
  min-width: 200px;
  width: fit-content;

  @media (max-width: 960px) {
    width: 100%;
  }
}

.button--gray {
  color: $secondary;
  background: lighten($primary, 5%);
}
