.comments {
  padding: $xl-size 0 0 0;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: $font-s-size;
}

.comment__icon {
  cursor: pointer;

  &:hover {
    color: $secondary;
    text-shadow: 2px 2px 0 $primary;
  }
}