.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  margin: 0;
}

.hero__content {
  // background: $primary-transparent;
  display: inherit;
  flex-direction: column;
  max-width: 960px;
  padding: $l-size;
  border-radius: 10px;
  margin-bottom: $m-size;
  color: $font-primary-color;
  font-size: $m-size;
  text-transform: uppercase;
  
  @media (max-width: 700px) {
    padding: 0;
    align-items: center;
    text-align: center;
  }
}

.hero__button-group {
  display: flex;
  flex-direction: row;
  margin: $xl-size 0 0 0;
  white-space: nowrap;
  
  @media (max-width: 700px) {
    flex-direction: column;
    margin: $l-size 0;
  }
}

.hero__title {
  font-size: $font-hero-title;
  font-weight: 800;
  // text-shadow: 3px 3px 0px $primary;
  margin-bottom: $s-size;
  
  @media (max-width: 500px) {
    font-size: $font-hero-mobile-title;
    margin: $l-size 0;
  }
}

.hero__subtitle {
  color: $secondary;
  font-size: $font-hero-subtitle;
  // text-shadow: 3px 3px 0px $primary;
  margin: 0;

  @media (max-width: 700px) {
    font-size: $font-hero-mobile-subtitle;
  }
}

.hero-preview {
  border-radius: 5px;
  width: 220px;

  @media (max-width: 700px) {
    display: none;
    // height: auto;
    // width: 100%;
  }
}
