.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group--vertical {
  display: flex;
  flex-grow: 1;
  flex-direction: row;

  .input:first-child() {
    margin-right: $s-size;
  }

  @media (max-width: 500px) {
    // flex-direction: column;
    flex-wrap: wrap;
    .input:first-child() {
      margin-right: 0;
    }
  }
}
