.input {
  display: inline-block;
  padding: $s-size;
  margin-bottom: $s-size;
  border-radius: 3px;
  border: none;
  width: 100%;
  background: lighten($primary, 5%);
  color: $font-sand;
  font-size: $font-s-size;

  &:focus {
    background: lighten($primary, 15%);
  }

  &::placeholder {
    color: darken($font-primary-color, 15%);
  }
}

.input-group--vertical {
  display: flex;
  flex-direction: row;
}

.textarea {
  @extend .input;
  height: 250px;
}
