.input {
  display: flex;
  padding: $s-size;
  margin-bottom: $s-size;
  border-radius: 3px;
  border: none;
  width: 100%;
  height: 50px;
  background: lighten($primary, 5%);
  color: $font-sand;
  font-size: $font-s-size;
  transition: border 0.3s ease-in-out;

  &:focus {
    background: lighten($primary, 15%);
  }

  &:valid {
    border-bottom: 4px solid $valid-green;
  }

  &:invalid {
    border-bottom: 4px solid $valid-red;
  }

  &:disabled {
    color: darken($font-primary-color, 15%);
    background-color: lighten($primary, 2%);
  }

  &:optional {
    border: none;
  }

  &:placeholder-shown {
    border: none;
  }

  &::placeholder {
    color: darken($font-primary-color, 15%);
  }
}

.input__file {
  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &::before {
    content: "max. 2Mb";
    width: fit-content;
    height: 100%;
    padding-top: 2px;
    border-right: 5px solid red;
    margin: 0;
  }

  &::after {
    content: "Browse...";
  }
}

.input__name:nth-child(1) {
  margin-right: $s-size;
}

.textarea {
  height: 250px;
}

.textarea__helper {
  padding: 0 $s-size;
  margin-bottom: $s-size;
}

.legend {
  color: $font-primary-color;
  font-size: $font-s-size;
  margin-bottom: $s-size;
}

.select {
  width: fit-content;
}

