.input {
  padding: $s-size;
  margin-bottom: $s-size;
  border-radius: 3px;
  border: none;
  width: 100%;
  height: 50px;
  background: lighten($primary, 5%);
  color: $font-sand;
  font-size: $font-s-size;
  transition: border 0.3s ease-in-out;

  &:focus {
    background: lighten($primary, 15%);
    color: darken($font-sand, 10%);
  }

  &:valid {
    border-bottom: 4px solid $valid-green;
  }

  &:invalid {
    border-bottom: 4px solid $valid-red;
  }

  &:disabled {
    color: darken($font-primary-color, 15%);
    background-color: lighten($primary, 2%);
  }

  &:optional {
    border: none;
  }

  &:placeholder-shown {
    border: none;
  }

  &::placeholder {
    color: darken($font-primary-color, 15%);
  }
}

.input__file {
  cursor: pointer;
  transition: all 0.3s ease;

  &::-webkit-file-upload-button {
    visibility: hidden;
  }
  
  &::before,
  &::after {
    align-items: center;
    box-sizing: border-box;
    background: lighten($primary, 10%);
    display: flex;
    justify-content: center;
    margin: -15px -15px 0 0;
    height: 50px;
    width: 100px;
  }

  &::before {
    content: "2Mb max";
    float: left;
    margin-left: -15px;
  }

  &::after {
    background: lighten($primary, 10%);
    border-left: 1px solid lighten($primary, 10%);
    content: "Browse...";
    float: right;
  }

  &:hover {
    &::after {
      background: lighten($primary, 12%);
    }
  }
}

.input__name:nth-child(1) {
  margin-right: $s-size;
}

.textarea {
  height: 250px;
}

.textarea__helper {
  padding: 0 $s-size;
  margin-bottom: $s-size;
}

.legend {
  color: $font-primary-color;
  font-size: $font-s-size;
  margin-bottom: $s-size;
}

.select {
  width: fit-content;

  @media (max-width: 500px) {
    width: 100%;
  }
}
