.list-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed $primary;
}

.list-item__title {
  font-size: $font-l-size;
  font-weight: 800;
  color: $secondary;
  margin-bottom: 0;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: lighten($secondary, 20%);
    transform: translateX(5px);
    text-shadow: 1px 1px 0px $secondary;
  }
}

.list-item__subtitle {
  margin: 0;
  color: $font-sand;
  font-size: $font-s-size;
  font-style: italic;
}

.list-item__subtitle--link {
  color: darken($font-sand, 20%);
}

.list-item__body {
  margin-bottom: $s-size;
}
