.modal {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: $primary-transparent;
}

.modal__content {
  background: darken($primary, 5%);
  padding: $l-size;
  height: fit-content;
  width: fit-content;
  max-width: 90vw;
  border-radius: 3px;
}

.modal__close {
  display: flex;
  justify-content: flex-end;
  padding: 0 $s-size 5px 0;
}

.modal__display--none {
  display: none;
}

.modal__display--flex {
  display: flex;
}

.noscroll {
  overflow: hidden;
}
