* {
  box-sizing: border-box;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  scroll-behavior: smooth;
}

*:focus {
  outline: 1px solid lighten($primary, 20%);
}

html,
button,
input,
textarea {
  font-size: 62, 5%;
  font-family: "Montserrat", sans-serif;
}

textarea {
  resize: vertical;
}

body {
  margin: 0;
  background: #312925;
  color: $font-primary-color;
}

button {
  cursor: pointer;
  transition: all 0.4s ease;
}

button:disabled {
  background: lighten($primary, 10%);
  cursor: default;
}

a {
  text-decoration: none;
  transition: color 0.4s ease;
}
