// font colors
$font-primary-color: #e2ded3;
$font-secondary-color: #502614;
$font-sand: #ff9252;

// paddings & margins
$xs-size: 0.4rem;
$s-size: 0.9rem;
$m-size: 1.4rem;
$l-size: 1.9rem;
$xl-size: 2.5rem;

// font sizes
$font-s-size: 0.9rem;
$font-m-size: 1.1rem;
$font-l-size: 1.4rem;
$font-xl-size: 1.9rem;
$font-hero-title: 3rem;
$font-hero-mobile-title: 2rem;
$font-hero-subtitle: 2.3rem;
$font-hero-mobile-subtitle: 1.3rem;

// colors
$primary: #312925;
$primary-transparent: #312925bb;
$secondary: #ff6d24;
$alert: #f72f2f;
$transparent: #00000000;

$valid-green: #509756;
$valid-red: #a72626;
$valid-yellow: #d3d335;

$hero-primary: #ec7f2542;
$hero-secondary: #ffb2249f;
