// font colors
$font-primary-color: #e2ded3;
$font-secondary-color: #4e413b;
$font-sand: #ffe5b4;

// paddings & margins
$s-size: 0.9rem;
$m-size: 1.4rem;
$l-size: 1.7rem;

// font sizes
$font-s-size: 0.9rem;
$font-m-size: 1.2rem;
$font-l-size: 1.5rem;

// colors
$primary: #857671;
$secondary: #ff6d24;
